EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
MEDIA_ALLOWED_ORIGIN=https://localhost:8081
PRECISE_LOCATION_ENCRYPTION_KEY=
AWS_REGION=ap-southeast-1
AI_CALLBACK_SECRET=
